Source: mx-apps
Section: system
Priority: optional
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Build-Depends: debhelper (>=7.0)
Standards-Version: 3.9.5

Package: mx-apps
Architecture: all
Depends:
 mx-antix-libs,
 mx-bootrepair,
 mx-network-assistant,
 mx-system,
 mx-clocky,
 mx-codecs,
 mx-defaultlook,
 mx-docs,
 mx-installer,
 mx-menu-editor,
 mx-packageinstaller,
 mx-remaster,
 mx-remastercc,
 mx-repo-manager,
 mx-select-sound,
 mx-snapshot,
 mx-switchuser,
 mx-system-sounds,
 mx-tools,
 mx-usb-unmounter,
 mx-user,
 mx-viewer,
 mx-welcome,
 system-config-samba,
 live-kernel-updater,
 live-usb-maker,
 live-usb-maker-gui,
 ddm-mx,
 apt-transport-https
Breaks: docs-mx,
 install-meta-mx,
 installer-mx,
 remaster-mx,
 switchuser-mx,
 user-management-mx
Replaces: docs-mx,
 install-meta-mx,
 installer-mx,
 remaster-mx,
 switchuser-mx,
 user-management-mx
Description: metapackage for MX applets
 This metapackage depends on all the MX applets, and helps ease upgrades to new
 releases of MX Linux. 
